@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body {
  font-family: 'Poppins', sans-serif;
  height:100vh;
  overflow:hidden;
  margin:0;
  text-align:center;
  padding:50px;
 /* display:flex;
 flex-direction: column;
 justify-content: center;
 align-items:center; */

 /* color:#fff; */
}
.loveMe{
    height:400px;
    width:300px;
    background:url('https://images.unsplash.com/photo-1689607211177-0e1e15a9fa79?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDJ8RnpvM3p1T0hONnd8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60') no-repeat center center/cover;
    margin:0 auto;
    cursor:pointer;
    max-width:100%;
    position:relative;
    box-shadow:0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
}
.fa-heart{
    color:red;
    /* top:10px;
    left:100px; */
}
.loveMe .fa-heart{
    position:absolute;
    animation:grow 0.6s linear;
    transform: translate(-50%,-50%) scale(0);
}

@keyframes grow{
    to{
    transform:translate(-50%,-50%) scale(10);
    opacity:0;
    }
}
/* #num{
    margin-top:30px;
    background:rgba(0,0,0,0.1);
    width:200px;
    padding:10px;
    font-size:18px;
    margin:0 auto;
    border-radius:10px;
}
input{
    border:0;
    text-align:center;
    padding:5px;
    font-size:18px;
}
input:focus{
    outline:none;
} */